/* CSS reset */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
/* 
Typography for diferent screen sizes
*/
:root {
	--step--2: clamp(0.78rem, 0.74rem + 0.22vw, 0.96rem);
	--step--1: clamp(0.94rem, 0.87rem + 0.33vw, 1.2rem);
	--step-0: clamp(1.13rem, 1.03rem + 0.47vw, 1.5rem);
	--step-1: clamp(1.35rem, 1.22rem + 0.66vw, 1.88rem);
	--step-2: clamp(1.62rem, 1.44rem + 0.9vw, 2.34rem);
	--step-3: clamp(1.94rem, 1.7rem + 1.23vw, 2.93rem);
	--step-4: clamp(2.33rem, 2rem + 1.66vw, 3.66rem);
	--step-5: clamp(2.8rem, 2.35rem + 2.22vw, 4.58rem);
}

/* 
Color palette Primary: 
*/

:root {
	--soft_red: hsl(7, 99%, 70%);
	--yellow: hsl(51, 100%, 49%);
	--dark_desaturated_cyan: hsl(167, 40%, 24%);
	--dark_blue: hsl(198, 62%, 26%);
	--dark_moderate_cyan: hsl(168, 34%, 41%);
}

/* 
Color palette Neutral: 
*/

:root {
	--very_dark_desaturated_blue: hsl(212, 27%, 19%);
	--very_dark_grayish_blue: hsl(213, 9%, 39%);
	--dark_grayish_blue: hsl(232, 10%, 55%);
	--grayish_blue: hsl(210, 4%, 67%);
	--white: hsl(0, 0%, 100%);
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(35, 10rem);
	width: 100%;
	max-width: 70rem;
	margin: 0 auto;
}

/* 
Mobile header section
*/
.header {
	background-image: url(images/mobile/image-header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	grid-row: 1 / 4;
	padding: 1rem;
	text-align: center;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.nav__list {
	display: none;
}

.title {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 2.5rem;
	font-size: var(--step-5);
	color: var(--white);
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 7px;
	line-height: 1.2;
	font-family: "Fraunces", serif;
}

.arrow__icon {
	margin-top: 3rem;
}

#nav__toggle {
	background-color: transparent;
	border: transparent;
}
/* 
Mobile main section
*/

.main {
	display: grid;
	grid-template-columns: 1fr;
}

.egg {
	grid-row: 1 / 3;
}

.egg__picture {
	width: 100%;
}

.text__card {
	text-align: center;
	line-height: 1.5;
	padding: 1rem;
}
.subtitle {
	font-family: "Fraunces", serif;
	font-weight: 900;
	margin: 2rem auto;
	font-size: var(--step-3);
	padding: 1rem;
	line-height: 1.2;
}

.description {
	font-size: var(--step-0);
	font-family: "Barlow", sans-serif;
	opacity: 0.7;
	margin: 1rem auto;
}

.misc__title {
	font-family: "Fraunces", serif;
	font-weight: 700;
	border-bottom: 10px solid var(--yellow);
	width: 10rem;
	margin: 2rem auto;
	line-height: 0.3;
	text-transform: uppercase;
}

.red__border {
	border-bottom: 10px solid var(--soft_red);
}

.red-cup__image {
	width: 100%;
}

.cherry {
	background-image: url(images/mobile/image-graphic-design.jpg);
	background-size: cover;
	text-align: center;
	line-height: 1.5;
	padding: 1rem;
}

.orange {
	background-image: url(images/mobile/image-photography.jpg);
	background-size: cover;
	line-height: 1.5;
	padding: 1rem;
	text-align: center;
}

.picture__title {
	margin-top: 25rem;
	font-family: "Fraunces", serif;
	font-weight: 900;
	font-size: var(--step-1);
	color: var(--dark_desaturated_cyan);
}

.picture__text {
	margin: 1rem auto 2rem;
	font-family: "Barlow", sans-serif;
	color: var(--dark_desaturated_cyan);
}

/* 
Mobile Testimonial section:
*/

.testimonials {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	text-align: center;
	padding: 2rem;
}

.testimonials__title {
	font-family: "Fraunces", serif;
	font-weight: 900;
	margin-top: 3rem;
	letter-spacing: 1.2px;
	font-size: var(--step-1);
	opacity: 0.7;
	text-transform: uppercase;
	color: var(--very_dark_desaturated_blue);
}

.portrait {
	border-radius: 100%;
	width: 4.5rem;
	margin: 3rem auto;
}

.card__text {
	font-family: "Barlow", sans-serif;
	color: var(--very_dark_grayish_blue);
	font-size: var(--step-0);
	margin-bottom: 2rem;
}

.name {
	font-family: "Fraunces", serif;
	font-weight: 900;
	margin-bottom: 0.5rem;
}

.ocupation {
	font-family: "Barlow", sans-serif;
	opacity: 0.6;
}

/* 
Mobile Photos section:
*/

.photo__section {
	width: 100%;
	display: block;
}

.milkbottle {
	width: 100%;
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.orange-onplate {
	width: 100%;
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}

.cone {
	width: 100%;
	grid-column: 1 / 2;
	grid-row: 3 / 5;
}

.sugar-cubes {
	width: 100%;
	grid-column: 2 / 3;
	grid-row: 3 / 5;
}

.photos {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

/* 
Mobile Footer section:
*/

footer {
	grid-row: 31 / 33;
	margin-top: -2.1rem;
	background-color: var(--dark_moderate_cyan);
	text-align: center;
	padding: 2rem;
}

.footer__nav {
	margin: 2rem 0;
}

.footer__nav__list {
	display: flex;
	gap: 3rem;
	justify-content: center;
	list-style: none;
	font-family: "Barlow", sans-serif;
	opacity: 0.5;
}

.icons {
	margin: 5rem 0;
	display: flex;
	gap: 2rem;
	justify-content: center;
}

/* 
Media query for desktop design:
*/
